* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'SoDo Sans SemiBold', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 14px;
}

.nav{
    border: solid #BDBDBD 1px; 
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6)  ; 
}

.nav-left{
    display: flex;
    align-items: center;
    padding: 20px;
}

.nav-left img{
    width: 50px;
    height: 50px;
}

.nav-left p{
    text-transform: uppercase;
    margin-left: 20px;
}

.nav-left p:hover,
.nav-right p:hover{
    color: green;
}

.nav-right{
    display: flex;
    align-items: center;
    float: right;
    margin-top: -66px;
    margin-right: 20px;
}

.nav-right img{
    width: 20px;
    height: 20px;
    padding-right: 0px;
}

.nav-right p{
    margin-right: 20px;
}

.nav-right div p{
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 50px;
}

.container-one{
    margin-top: 30px;
    background: #d4e9e2;
    width: 100%;
    height: 320px;
}

.container-one .left{
    float: left;
}

.container-one .left img{
    max-width: 500px;
    max-height: 300px;
    margin-top: 15px;;
}

.container-one .right{
    float: right;
    width: 42%;
    text-align: center;
    padding: 20px;
}

.container-one .right p{
    margin: 10px auto;
    border: 2px solid black;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 50px;
}

.container-one .right p:hover{

}

h3{
    font-size: 20px;
    margin-bottom: 30px;
}

h4{
    font-weight: 200;
    font-size: 16px;
    padding: 20px;
    line-height: 35px;
}